<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>

<body>
  <form action="/register" method="POST">
    <fieldset>

      {{#if_eq error 'repass'}}
        <legend style="color: red">Incorrect password repetition!</legend>
      {{else}}
        <legend>Registration</legend>
      {{/if_eq}}

      <p class="note">Fields marked with * are required.</p>
      
      <input type="text" name="email" placeholder="e-mail*" /><br />
      <input type="text" name="firstName" placeholder="First Name*" id="firstName"/><br />
      <input type="text" name="lastName" placeholder="Last Name" /><br />
      <input type="password" name="password" placeholder="Password*" autocomplete="off"/><br />
      <input type="password" name="repassword" placeholder="Confirm Password*" autocomplete="off"/><br />
      <input type="submit" value="Register" />

    </fieldset>
  </form>
</body>
</html>
