<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>

<body>
  <form action="/tasks/update" method="POST">
    <fieldset>
      <legend>Edit task</legend>  
      
      <input type="hidden" value="{{id}}" name="id" />
      <input type="text" value="{{title}}" name="title" /><br />
      <input type="submit" value="Save">
    </fieldset>
  </form>
</body>
</html>
